html {
    overflow: hidden;
}
body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    background: url('http://us.123rf.com/400wm/400/400/fouroaks/fouroaks1003/fouroaks100300001/6535877-comical-looking-donkey-with-mouth-wide-open-showing-teeth.jpg');
    color: #fff;
    background-size: 400px;
}

img {
    border: none;
}
